@tailwind base;
@tailwind components;
@tailwind utilities;

.header-main{
  background-color: #31A05F;
  position: sticky;
  top:-30px;
  
}
.main{
  width: 80%;
  margin: auto;
  padding: 20px 0;
}

.footer-main{
  background-color: #121212;
  bottom: 0;
}
